.top1-section{

    padding-top: 1rem;
    padding-right: 1rem;
    margin-top: 16rem;
}


.form{

display: flex;
text-align: center;
column-gap: 1.5rem;
height: auto;
padding-left: 1.5rem;
padding-right: 1.5rem;
flex-direction: column;
align-items: center;
/* background-color: rgb(48, 43, 43); */
background-color: indianred;
color: white;
border-right: 0.5rem;
padding-top: 2rem;
padding-bottom: 2rem;


}



legend{

    font-weight: 700px;
    font-size: 1.5rem;
    text-decoration: underline;

}

label{
    margin-top: 1.5rem;
}

input{
margin-top: 0.5rem;
padding-left: 1.75rem;
padding-right: 1.75rem;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
border-radius: 0.5rem;


}
textarea{
    margin-top: 1rem;
}

button{
    /* background-color: red; */
    background-color: blue;
    color: white;
    margin-top: 1.5rem;
padding-left: 1.75rem;
padding-right: 1.75rem;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
border-radius: 0.5rem;

    
}




.fieldset{

width: 100%;
max-width: 28rem;

}















@media(min-width:640px){
.top1-section{

    padding-left: 1.5rem;
    padding-right: 1.5rem;
}


}




@media(min-width:1024px){
    .top1-section{
    
        padding-left: 9rem;
        padding-right: 9rem;
    }
    
    
    }
    
    


